@import "reset";
@import "compass/css3";

html, body {
	font-family: "Merriweather", serif;
	height:100%;
	color:#333;
}

p {
	font-family: "Open Sans", sans-serif;
}

a {
	color:#333;
	text-decoration: none;
}

#wrapper {
	min-height:100%;
	height: auto !important;
	height:100%;
	margin:0 auto;
	padding-top:30px;
	@include single-box-shadow(#000, 0px, 0px, 30px, 0px);
	> * {
		width: 640px;
		margin: 0 auto;
	}
}

/* Header */
header {
	h1 {
		font-size: 18px;
		font-weight: 700;
		a {
			color:#fff;
		}
	}
	#header_minimized {
		padding:12px 8px 10px;
		position:fixed;
		top:10px;
		left:10px;
		overflow:hidden;
		background: rgb(29, 29, 29);
		background: rgba(29, 29, 29, .8);
		color:#fff;
	}
	#header_expanded {
		display:none;
	}
	#photo_bar_container {
		height:300px;
	}
}

article {
	> * {
		max-width: 640px;
	}
	h2 {
		font-size: 32px;
		font-weight: 900;
		display: inline-block;
		margin: 0 15px 20px 0;
	}
	p {
		margin-bottom: 20px;
		line-height:24px;
	}
}

footer {
	margin-top:20px;
}