/* ---------------------------------------- [ Last.fm Covers ] */

@import "compass/css3";

#lastfm_badge_wrapper {
	list-style-type: none;
	list-style-image: none;
	display: none;
	margin: 0;
	padding:5px 8px;
	list-style:none;
	text-decoration:none;
	z-index: 0;
	position: fixed;
	right: 10px;
	top: 0px;
	z-index:1;
	background: rgb(29, 29, 29);
	background: rgba(29, 29, 29, .8);
}

#lastfm_badge_wrapper {
	li {
		margin:0;
		float: right;
		position:relative;
		z-index: 1;
		@include single-box-shadow(#000, 1px, 1px, 2px, 0px);
		&:not(:last-child) {
			margin-left:10px;
		}
		a {
			display:block;
			position:relative;
			float: left;
			width:36px;
			height:36px;
			text-indent:-1000em;
			overflow:hidden;
			z-index:1;			
		}		
		img {
			position:absolute;
			width:36px;
			height:36px;
		}
	}
}
